@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Events</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="@Url.Content("~/images/logonamo.png")" rel="icon">
    <link href="@Url.Content("~/images/logonamo.png")" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="@Url.Content("~/assets/vendor/animate.css/animate.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/aos/aos.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/bootstrap-icons/bootstrap-icons.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/boxicons/css/boxicons.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/glightbox/css/glightbox.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/swiper/swiper-bundle.min.css")" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet">

</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between align-items-center">

            <div class="logo">
                <h1 class="text-light"><a href="@Url.Action("Index", "Home")"><span>DASH-BOOKING</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/assets/img/logo.png")" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="active" href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                    <li><a href="@Url.Action("Events", "Event")">Events</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                    <li><a href="@Url.Action("LoginRegister", "Accounts")">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->


    <div>
        @RenderBody()
    </div>
    <!-- ======= Footer ======= -->
    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Newsletter</h4>
                        <p>Join us for a season of thrilling marathon events</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("About", "Home")">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Events", "Home")">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            Sanciangko St <br>
                            Cebu City, 6000 Cebu<br>
                            Philippines <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> dash-booking.speedy@gmail.com<br>
                        </p>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>About Dash-Booking</h3>
                        <p>Experience seamless registration for your next race with Dash-Booking, the ultimate online platform for marathon event sign-ups, ensuring a quick and hassle-free process from start to finish.</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Dash-Booking</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="@Url.Content("~/assets/vendor/purecounter/purecounter_vanilla.js")"></script>
    <script src="@Url.Content("~/assets/vendor/aos/aos.js")"></script>
    <script src="@Url.Content("~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/glightbox/js/glightbox.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/isotope-layout/isotope.pkgd.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/swiper/swiper-bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/waypoints/noframework.waypoints.js")"></script>
    <script src="@Url.Content("~/assets/vendor/php-email-form/validate.js")"></script>

    <!-- Template Main JS File -->
    <script src="@Url.Content("~/assets/js/main.js")"></script>

</body>
</html>
