@model DASH_BOOKING.Models.EventRequest

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Contact_Layout.cshtml";
}
<main id="main">
    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Contact</h2>
                <ol>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>Contact</li>
                </ol>
            </div>
        </div>
    </section><!-- End Contact Section -->
    <!-- ======= Event Request Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>A108 Adam Street, New York, NY 535022</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-envelope"></i>
                                <h3>Email Us</h3>
                                <p>info@example.com<br>contact@example.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-phone-call"></i>
                                <h3>Call Us</h3>
                                <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    @using (Html.BeginForm("CreateEvent", "Event", FormMethod.Post, new { @class = "php-email-form", @action = Url.Action("CreateEvent", "Event") }))
{
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <h3>Request Event</h3>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Event Name" } })
                                    @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6 form-group">
                                    @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Event Date" } })
                                    @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    @Html.EditorFor(model => model.EventTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Event Time" } })
                                    @Html.ValidationMessageFor(model => model.EventTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Location" } })
                                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6 form-group">
                                    @Html.EditorFor(model => model.OrganizerEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Organizer Email" } })
                                    @Html.ValidationMessageFor(model => model.OrganizerEmail, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    @Html.EditorFor(model => model.OrganizerPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Organizer Phone" } })
                                    @Html.ValidationMessageFor(model => model.OrganizerPhone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message"></div>
                            </div>
                            <div class="text-center">
                                <button type="submit">Submit Event Request</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section><!-- End Event Request Section -->
    <!-- ======= Map Section ======= -->

</main><!-- End #main -->

