@model IEnumerable<DASH_BOOKING.Models.EventImage>

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/Event_Layout.cshtml";
}

<main id="main">
    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Events List</h2>
                <ol>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>Events</li>
                </ol>
            </div>
        </div>
    </section><!-- End Our Portfolio Section -->
    <!-- ======= Portfolio Section ======= -->
    <section class="portfolio">
        <div class="container">
            <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
                @foreach (var eventImage in Model)
                {
                    <div class="col-lg-4 col-md-6 portfolio-wrap filter-@(eventImage.EventModel.EventCategory.ToLower())">
                        <div class="portfolio-item">
                            @if (eventImage.Image != null)
                            {
                                <img src="@Url.Content(eventImage.Image)" class="img-fluid" alt="Event Image">
                            }
                            else
                            {
                                <img src="@Url.Content("~/images/default-image.jpg")" class="img-fluid" alt="Default Image">
                            }
                            <div class="portfolio-info">
                                <h3>@eventImage.EventModel.EventName</h3>
                                <div>
                                    <!-- Link to Event Details with event ID -->
                                    <a href="@Url.Action("EventDetails", "Event", new { id = eventImage.EventModelId })" title="View Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section><!-- End Portfolio Section -->
</main><!-- End #main -->
